$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

.header {
   padding-top: 16px;
   padding-bottom: 31px;
   // height: 143px;
   // align-items: center;

}

.header.gradient {
   background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
}

.nav__logo {
   font-family: $secondary-font;
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 1.08;

   letter-spacing: 0.3em;

   color: #FFFFFF;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
      color: #FFFDEE;
   }
   @include tablet {
   font-size: 36px;
   line-height: 1.08;
   color: #FFFDEE;
   }
   @include tablet {
   color: #FFFFFF;
   }
}

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   // margin-bottom: 12px;
}

.nav__wrap {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.nav__contacts {
   display: flex;
}

.nav__link {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.02em;
   margin-right: 32px;

   color: #F3C653;
   &:hover,
   &:focus {
      color: white;
   }
}

.nav__link.hotel {
   margin-left: 70px;
}

.nav__contacts {
   display: flex;
   // display: block;
   align-items: center;
   color: #F3C653;  
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      background-color: transparent;
      color: white;
      // border: 0.5px solid white;
   }

   @include tablet {
      min-width: 144px;
      border: 0.5px solid #F3C653;
      border-radius: 2px;
      padding: 10px 12px;
   }
}

.nav__icon-rest,
.nav__icon-hotel,
.address__icon {
   display: block;
   fill: currentColor;
}
.nav__icon-rest {
   margin-right: 20px;
}

.nav__tel {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;

   display: none;
   align-items: center;
   letter-spacing: 0.02em;

   color: #FFFFFF;
   display: none;
   @include tablet {
      display: flex;
      margin-left: 0;
   }
   @include desktop {
      display: block;
   }
}


.address {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   border: 1px solid #F3C653;
   max-width: 210px;
   margin-right: 0;
}

.address__icon {
   margin-right: 8px;
   color: currentColor;
   width: 20px;
}

.address__link--location {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.01em;

   color: #E5E5E5;

}

// .nav__wrap:hover .nav__icon-hotel,
// .nav__wrap:focus .nav__icon  {
//    color: white;
// }

.nav-soc__wrap {
   display: flex;
   gap: 20px;
   margin-left: 70px;
   @include tablet {
      display: none;
   }
   @include desktop {
      display: flex;
   }
}

// .nav-soc__item {
//    display: flex;
// }

.nav-soc__link {
   color: #F3C653;
   padding: 20px 0;
   &:hover,
   &:focus {
      background-color: transparent;
      color: white;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
   }
   
}

.nav-soc__icon {
   fill: currentColor;
}